{% extends "records/record_base.html" %}
{% load material_form %}
{% block breadcrumb %}
<a href="{% url 'projects:all' %}" class="breadcrumb">My Projects</a>
<a href="{% url 'projects:single' slug=project.slug %}" class="breadcrumb">{{ project.project_title.capitalize }}</a>
<a href="{% url 'projects:records:single' slug=project.slug pk=record.pk %}" class="breadcrumb">{{ record.cite_key }}</a>
{% endblock %}
{% block record_content %}


<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <span class="card-title"><h4 class="left">Record: {{ record.title }}</h4>
            <br> <br>
            <h6>Part of: <span class="chip">{{ project.project_title.capitalize }}</span></h6>
            </span>
          </div>



        </div>

        <div class="section">



        <table>
          <thead>
            <tr>
              <th class="" width="30%">Field</th>

              <th width="80%">Value</th>
            </tr>
          </thead>
          <tbody>
            {% for field in data %}
              <tr>
                <td class="" width="30%">
                  {{field.label}}
                </td>
                <td>
                  {% if field.data %}
                    {{ field.data }}
                  {% else %}
                    <span class="grey-text">n/a</span>
                  {% endif %}

                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>

</div>
          <div class="card-action">
            <div class="left-align">


          </div>
            <div class="right-align">
              <a class="btn waves-effect btn-medium waves-light indigo" href="{% url 'projects:records:edit' slug=project.slug pk=record.pk %}">
                <i class="material-icons left">edit</i>
                Edit
              </a>
              <a class="btn waves-effect waves-light red darken-3" href="#{{ record.pk }}">
                <i class="material-icons left">delete</i>
                Delete
              </a>




                <div id="{{ record.pk }}" class="modal">
                   <div class="modal-content">
                     <h4 class="center-align">Are you sure you want to delete this record?</h4>
                     <p class="center-align">Cite Key: '{{ record.cite_key }}'
                                          <br>Entry Type: '{{ record.entry_type }}'
                                          <br>Title: '{{ record.title }}'
                   </div>
                   <div class="modal-footer">
                     <div class="modal-action right-align">
                       <a href="#!" class="modal-close btn-flat waves-effect waves-blue grey-text">Cancel</a>
                       <a href="{% url 'projects:records:delete' slug=project.slug pk=record.pk %}" class="modal-close btn-flat waves-effect waves-red blue-grey-text">Delete Record</a>

                     </div>
                   </div>
                 </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  $('.modal').modal();
});
</script>



{% endblock %}
