{% extends "records/record_base.html" %}
{% load static %}
{% block breadcrumb %}
<a href="{% url 'projects:all' %}" class="breadcrumb">My Projects</a>
<a href="{% url 'projects:single' slug=project.slug %}" class="breadcrumb">{{ project.project_title.capitalize }}</a>
<a href="{% url 'projects:records:create' slug=project.slug %}" class="breadcrumb">New Entry</a>
{% endblock %}

{% block record_content %}
<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <span class="card-title">
          <h5 class="center-align">Add record to {{ project.project_title.capitalize }}</h5>
        </span>
        <form id="record_form" class="" action="{% url 'projects:records:create' slug=project.slug %}" method="POST">
          {% csrf_token %}
          {% form form=form1 %}{% endform %}
          <div id="form2div">
            {% if err %}
              {% if errmessage %}
                <p class="red-text darken-1 center-align">{{ errmessage }}</p>
              {% endif %}
              {% form form=form %}{% endform %}<!-- Here comes the specific form through ajax. -->

            {% endif %}
          </div>


          <div class="center-align" id="submit_button" hidden>
            <button type="submit" name="_submit" class="btn btn-large waves-effect waves-light indigo">ADD RECORD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  // This variable needs to be here, since django's template tags do not work in separate files.
  url_string = "{% url 'projects:records:specific-form-ajax' slug=project.slug %}"
</script>

<script type="text/javascript" src="{% static 'js/record_form.js' %}"></script>



{% endblock %}
