{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
  <a href="{% url 'accounts:detail' %}" class="breadcrumb">My Profile</a>
{% endblock %}
{% block content %}


<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <div class="row">
          <div class="col s12">

              <div class="row">

                <div class="col s6 offset-s3">
                  <img class="circle responsive-img" src="{% static 'images/usericon.svg' %}" alt="">



                  <h2 class="center">{{ user.first_name }} {{ user.last_name }}</h2>
                  <h4 class="center">{{ user.email}}</h4>
                </div>
              </div>
          </div>
        </div>
        <div class="card-action">
          <div class="right-align">
            <a class="btn waves-effect btn-medium waves-light red darken-3" href="#delete_acc">
              <i class="material-icons left">delete</i>
              delete account
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="delete_acc" class="modal">
   <div class="modal-content">
     <h4 class="center-align">Are you sure you want to delete your account?</h4>
     <p class="center-align">By doing so you will no longer have access to your projects.
   </div>
   <div class="modal-footer">
     <div class="modal-action right-align">
       <a href="#!" class="modal-close btn-flat waves-effect waves-blue grey-text">Cancel</a>
       <a href="{% url 'accounts:delete' %}" class="modal-close btn-flat waves-effect waves-red blue-grey-text">Delete Account</a>

     </div>
   </div>
 </div>
 <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
{% endblock %}
