{% extends "base.html" %}
{% load material_form %}

{% block content_account %}
<br>
<div class="row">
  <div class="col l8 m8 s12 offset-l2 offset-m2">
    <div class="card grey lighten-5">
      <div class="card-content">
        <span class="card-title"><h1 class="center-align">Log In</h1></span>
        <h4 class="center-align hide-on-med-and-down">Fill in your email and password to Log in. <br>
                                Not yet a member? <a href="{% url 'accounts:signup' %}">Sign Up</a> now!</h4>




            <br>


            <form method="POST">
              {% csrf_token %}
              {% form %}
              {% part form.username prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
              {% part form.password prefix %}<i class="material-icons prefix">lock_outline</i>{% endpart %}
              {% endform %}
              <div class="center-align">
                <button type="submit" name="_submit" class="btn btn-large center waves waves-effect indigo">Log In</button>
              </div>
            </form>





      </div>
    </div>
  </div>

</div>







{% endblock %}
