{% extends "base.html" %}
{% load material_form %}

{% block content %}
<div class="container signup">
  <h1 class="text-align center">Sign Up</h1>
  <h4 class="text-align center">Fill in the form below to register</h4>

  <form class="viewform" method="POST">
    {% csrf_token %}
    {% form form=form %} {% endform %}
    <br>
    <div class="center-align">
      <button type="submit" name="_submit" class="btn btn-large center waves waves-effect">Sign Up</button>

    </div>
  </form>

</div>

{% endblock %}
