{% extends "projects/project_base.html" %}
{% load material_form %}
{% block breadcrumb %}
<a href="{% url 'projects:all' %}" class="breadcrumb">My Projects</a>
<a href="{% url 'projects:single' slug=project.slug %}" class="breadcrumb">{{ project.project_title }}</a>
<a href="{% url 'projects:settings' slug=project.slug %}" class="breadcrumb">Settings</a>
<a href="{% url 'projects:invite' slug=project.slug %}" class="breadcrumb">Invite</a>
{% endblock %}

{% block project_content %}




<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <div class="row">
          <div class="col s12">

                  <h4 class="center"> Invite collegues to collaborate with</h4>
                  <h3 class="center">{{ project.project_title }}</h3>
                  <div class="row">
                    <div class="col s6 offset-s3">
                      <form class="" action="{% url 'projects:invite' slug=project.slug %}" method="POST">
                        {% csrf_token %}
                        {% form form=form %} {% endform %}
                        <div class="center-align">
                          <button type="submit" name="_submit" class="btn indigo btn-large waves-light waves-effect">Send Invite</button>
                        </div>
                      </form>
                    </div>
                  </div>

          </div>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
{% endblock %}
