{% extends "projects/project_base.html" %}
{% load material_form %}
{% block breadcrumb %}
<a href="{% url 'projects:all' %}" class="breadcrumb">My Projects</a>
<a href="{% url 'projects:single' slug=project.slug %}" class="breadcrumb">{{ projectmember.project.project_title }}</a>
<a href="{% url 'projects:settings' slug=project.slug %}" class="breadcrumb">Settings</a>
<a href="{% url 'projects:editperm' slug=project.slug pk=projectmember.user.pk %}" class="breadcrumb">edit permission</a>
{% endblock %}

{% block project_content %}




<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">

                  <h4 class="center"> Change permission</h4>
                  <h3 class="center">{{ projectmember.user.first_name }} {{ projectmember.user.last_name }}</h3>
                  <div class="row">
                    <div class="col s6 offset-s3">
                      <form class="" action="{% url 'projects:editperm' slug=project.slug pk=projectmember.user.pk %}" method="POST">
                        {% csrf_token %}
                        {% form form=form %} {% endform %}
                        <div class="center-align">
                          <button type="submit" name="_submit" class="btn indigo waves-light waves-effect">save changes</button>
                        </div>
                      </form>
                    </div>
                  </div>

          </div>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
