{% extends "projects/project_base.html" %}
{% load static %}
{% block breadcrumb %}
<a href="{% url 'projects:all' %}" class="breadcrumb">My Projects</a>
<a href="{% url 'projects:single' slug=project.slug %}" class="breadcrumb">{{ project.project_title }}</a>
<a href="{% url 'projects:settings' slug=project.slug %}" class="breadcrumb">Settings</a>
{% endblock %}
{% block project_content %}




<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">

                  <h2 class="center">{{ project.project_title }}</h2>
                  <h6 class="center">{{ project.description }}</h6><br>
                  <div class="right-align">
                    {% if userperm.is_owner %}
                    <a class="btn waves-effect btn-medium waves-light indigo" href="{% url 'projects:edit' slug=project.slug %}">
                      <i class="material-icons left">edit</i>
                      Edit Description
                    </a>
                    {% endif %}
                  </div>

                  <hr>
                  <ul class="collection with-header">

                    <li class="collection-header">

                        <h4>Project Members</h4>

                      </li>
                    {% for member in memberships %}
                      <li class="collection-item avatar">

                        <img src="{% static 'images/usericon.svg' %}" alt="avatar" class="circle"></img>
                        <span class="title">{{ member.user.first_name }} {{ member.user.last_name }}</span>
                        <p>{{ member.user.email }}<br>
                        {% if userperm.is_owner or member.user == user %}
                          {% if member.is_owner %}
                            Admin
                          {% elif member.is_editor %}
                            Read&write
                          {% elif member.is_reader %}
                            ReadOnly
                          {% endif %}
                        {% endif %}

                        </p>
                        {% if userperm.is_owner %}
                        <span class="secondary-content">
                          <a href="{% url 'projects:editperm' slug=project.slug pk=member.user.pk %}" ><i class="material-icons">edit</i></a>
                          {% if user != member.user %}

                            <a href="{% url 'projects:delete-member' slug=project.slug pk=member.pk %}"><i class="material-icons">delete</i></a>
                          {% endif %}
                        </span>
                          {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% if userperm.is_owner %}
                  {% if invites %}
                  <ul class="collection with-header">

                    <li class="collection-header">
                        <h4>Pending Invitations</h4>

                      </li>
                    {% for invite in invites %}
                    <li class="collection-item">
                      <div>
                        <strong>{{ invite.reciever.first_name }} {{ invite.reciever.last_name }}</strong>
                        has been invited by   <strong>{{ invite.sender.first_name }} {{ invite.sender.last_name }}</strong>
                        <a href="{% url 'projects:withdraw' slug=invite.project.slug pk=invite.pk %}" class="secondary-content"><i class="material-icons">delete</i></a>
                      </div>
                    </li>

                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="center-align">
                    <a  href="{% url 'projects:invite' slug=project.slug %}"
                        class="btn btn-medium indigo waves-effect waves-light">
                        <i class="material-icons left">person_add</i> Invite User to Collaborate</a>

                  </div>
                  {% endif %}


          </div>
        </div>
        <div class="card-action">
          <div class="right-align">
            {% if memberships.count > 1 and admins > 1 or not userperm.is_owner %}
            <a class="btn waves-effect waves-light orange" href="#leave_project{{ project.pk }}">
              <i class="material-icons left">block</i>
              Leave Project
            </a>
            {% endif %}
            {% if userperm.is_owner %}
            <a class="btn waves-effect waves-light red darken-3" href="#delete_project{{ project.pk }}">
              <i class="material-icons left">delete</i>
              Delete Project
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MODALS -->

<div id="leave_project{{ project.pk }}" class="modal">
  <div class="modal-content">
    <h4 class="center-align">Are you sure you want to leave '{{ project.project_title }}'</h4>
    <p class="center-align">
      Leaving this project means that you lose all access to it.
      <br> To re-attain access you need to be re-invited.
    </p>
  </div>
  <div class="modal-footer">
    <div class="modal-action right-align">
      <a href="" class="modal-close btn-flat waves-effect waves-blue grey-text">Cancel</a>
      <a href="{% url 'projects:leave' slug=project.slug %}" class="modal-close btn-flat waves-effect waves-orange blue-grey-text">Leave project</a>
    </div>
  </div>
</div>

<div id="delete_project{{ project.pk }}" class="modal">
   <div class="modal-content">
     <h4 class="center-align">Are you sure you want to delete '{{ project.project_title }}'</h4>
     <p class="center-align">Deleting the project will also delete any records
     within the project. <br>This will delete the project for
     everyone that is a projectmember. <br> {% if memberships.count > 1 and admins > 1 %}To Delete
     the project locally; use the 'Leave' option.<br>{% endif %}
     Deleting this project can not be reversed.</p>
   </div>
   <div class="modal-footer">
    <div class="modal-action right-align">

      <a href="" class="modal-close btn-flat waves-effect waves-blue grey-text">Cancel</a>
      {% if memberships.count > 1 and admins > 1 %}
        <a href="{% url 'projects:leave' slug=project.slug %}" class="modal-close btn-flat waves-effect waves-orange blue-grey-text">Leave project</a>
      {% endif %}
      <a href="{% url 'projects:delete' slug=project.slug %}" class="modal-close btn-flat waves-effect waves-red blue-grey-text">Delete project</a>

    </div>
   </div>
 </div>


<script type="text/javascript" src="{% static 'js/modal.js' %}">

</script>
{% endblock %}
