{% extends "projects/project_base.html" %}
{% load material_form %}
{% block breadcrumb %}
<a href="{% url 'projects:all' %}" class="breadcrumb">My Projects</a>
<a href="{% url 'projects:create' %}" class="breadcrumb">New Project</a>

{% endblock %}

{% block project_content %}

<div class="row">
  <div class="col s12">
    <div class="card grey lighten-5">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
          <span class="card-title center"><h2>Create a new project</h2></span>
            <form class="" action="{% url 'projects:create' %}" method="POST" id="projectForm">
              {% csrf_token %}
              {% form %}{% endform %}
              <div class="center-align">
                <button type="submit" name="_submit" class="btn indigo btn-large waves waves-effect">Create Project</button>
              </div>
            </form>

          </div>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
