{% extends "projects/project_base.html" %}

{% block preproject %}
<h1>{{ project.project_title }}</h1>
<!-- Maybe some information about collaborative or not -->

<div class="content">
  <!-- button to leave project  -->
</div>

<a href="{% url 'projects:records:create' slug=object.slug %}" class="btn btn-medium waves waves-effect">Add Entry</a>
{% endblock %}

{% block project_content %}

<div class="">

</div>
<!-- Here should the records be -->

<!-- {% include "records/_record.html" %} -->

{% endblock %}
