<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title_block %}

      {% endblock %}
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% include 'material/includes/material_css.html' %}
   {% include 'material/includes/material_js.html' %}

      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  </head>
  <body>
    <div class="row">
      <div class="col s2">
        <header>
          <ul class="sidenav sidenav-fixed">
            {% if user.is_authenticated %}

            <li><div class="user-view">
              <div class="background">
                <img src="https://cdn.pixabay.com/photo/2015/12/08/00/39/abstract-background-designs-1081912_1280.jpg" alt="">
              </div>

              <a href="#"></a>
              <br>
                <a href="#"></a>
                <br>
                  <a href="#"></a>
                   <br>
                    <a href="#"></a>


            </div> </li>
              <li><a href="{% url 'projects:all' %}">My Projects</a></li>
              <li><a href="#">My Profile</a></li>
            {% else %}
            {% endif %}
              <div class="section">
            <li><a href="#">Settings</a> </li>



            <li><a href="#">Log out</a> </li>
              </div>
            <li>asd</li>
            <li>asd</li>


          </ul>
        </header>
    </div>



<div class="col s10">

  <div class="row">

    <!-- Navbar for all pages -->
    <nav class="grey darken-2">
      <div class="nav-wrapper">
        <div class="col s12">


          <a href="{% url 'home' %}" class="brand-logo center">Multi-User BibTeX Manager</a>

          <ul class="left hide-on-med-and-down">
            {% if user.is_authenticated %}

              <li><a href="{% url 'projects:all' %}">My Projects</a></li>
              <li><a href="#">My Profile</a></li>
            {% else %}

            {% endif %}
          </ul>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
              <li><a href="{% url 'accounts:login' %}">Login</a></li>

            {% endif %}

          </ul>
        </div>

      </div>


    </nav>

    {% if user.is_authenticated %}

      <nav class="grey darken-2 my-breadcrumb">
         <div class="nav-wrapper">
           <div class="col s12">
             <a href="{% url 'home' %}" class="breadcrumb">Home</a>
              {% block breadcrumb %}{% endblock %}
           </div>
         </div>
       </nav>
    {% endif %}
    <div class="">
        {% block content %}{% endblock %}
    </div>

  </div>
<div class="row">
<div class="col s4">
    {% block content_account %}{% endblock %}
</div>








            <!-- page content -->




            <!-- right side content  -->
          {% block content_right %}{% endblock %}


</div>
</div>


    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script>

    </script>

  </body>
</html>
